In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import model_selection, svm, datasets
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import make_scorer
import matplotlib.pyplot as plt
import matplotlib.figure as figure
import time

In [2]:
Data = pd.read_excel('Data diolah darin.xlsx')

In [3]:
Data1 = Data.copy()
Data1

,Backhoe,HP(watt),Norm_MAP,RPM,Age,Load_Factor,Engine_Tier,TEMP[C],Fuel[g/s],NOx[g/s],...,NOx[g/hr],HC[g/hr],CO[g/hr],CO2[g/hr],PM[mg/hr],Nox (g/kl),HC (g/kl),CO (g/kl),CO2 (g/kl),PM (g/kl)
0,1,65621.6,0.000000,833.0,12,0.21,2,22.0,0.430000,0.024090,...,86.724000,25.848000,13.176000,4780.656000,14.4,3730.117500,1111.757728,566.717728,2.056225e+05,0.619362
1,1,65621.6,0.012346,800.0,12,0.21,2,22.0,0.620000,0.030320,...,109.152000,25.668000,16.164000,7008.264000,21.6,4694.776362,1104.015681,695.235681,3.014350e+05,0.929047
2,1,65621.6,0.012346,826.0,12,0.21,2,22.0,0.510000,0.030730,...,110.628000,10.980000,10.584000,5722.920000,21.6,4758.261138,472.264772,455.232272,2.461506e+05,0.929047
3,1,65621.6,0.012346,831.0,12,0.21,2,22.0,0.390522,0.023693,...,85.293664,20.747853,4.825082,4382.553038,21.6,3668.596780,892.393432,207.533355,1.884996e+05,0.929047
4,1,65621.6,0.012346,834.0,12,0.21,2,22.0,0.413024,0.026107,...,93.985262,6.979907,9.880556,4673.503069,21.6,4042.434273,300.215326,424.976193,2.010137e+05,0.929047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37523,8,72332.9,0.975904,1676.0,36,0.21,2,41.0,1.590000,0.058830,...,211.788000,19.908000,28.152000,17957.592000,1800.0,445343.100000,41862.100000,59197.400000,3.776083e+07,3785.000000
37524,8,72332.9,0.975904,1683.0,36,0.21,2,42.0,1.320000,0.059500,...,214.200000,19.800000,30.780000,14905.044000,1656.0,542545.340909,50151.250000,77962.397727,3.775286e+07,4194.468182
37525,8,72332.9,0.975904,1846.0,36,0.21,2,42.0,1.530000,0.059640,...,214.704000,21.744000,33.840000,17349.048000,1872.0,469179.694118,47515.850980,73948.509804,3.791183e+07,4090.768627
37526,8,72332.9,0.987952,1876.0,36,0.21,2,42.0,1.760000,0.056200,...,202.320000,22.356000,34.740000,19948.572000,1980.0,384340.943182,42468.990341,65994.485795,3.789568e+07,3761.343750
37527,8,72332.9,1.000000,1762.0,36,0.21,2,42.0,1.750000,0.053210,...,191.556000,21.168000,29.880000,19825.308000,1692.0,365972.298857,40441.968000,57086.451429,3.787672e+07,3232.606286

In [4]:
Data1.isna().sum()

Backhoe        0
HP(watt)       0
Norm_MAP       0
RPM            1
Age            0
Load_Factor    0
Engine_Tier    0
TEMP[C]        1
Fuel[g/s]      0
NOx[g/s]       0
HC[g/s]        0
CO[g/s]        0
CO2[g/s]       0
PM[mg/s]       0
Nox (g/l)      0
HC (g/l)       0
CO (g/l)       0
CO2 (g/l)      0
PM (g/l)       0
Fuel[g/hr]     0
NOx[g/hr]      0
HC[g/hr]       0
CO[g/hr]       0
CO2[g/hr]      0
PM[mg/hr]      0
Nox (g/kl)     0
HC (g/kl)      0
CO (g/kl)      0
CO2 (g/kl)     0
PM (g/kl)      0
dtype: int64

In [5]:
Data1.dropna(inplace=True)

In [6]:
X = Data1[['Backhoe', 'HP(watt)', 'Norm_MAP', 'RPM', 'Age', 'Load_Factor', 'Engine_Tier']]
y = Data1['NOx[g/s]']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [8]:
import timeit
start = timeit.default_timer() # catat waktu mulai

LR = LinearRegression(fit_intercept=True, copy_X=True, n_jobs=None, positive=False)
LR.fit(X_train, y_train.values.ravel())

y_pred = LR.predict(X_train)

stop = timeit.default_timer() # catat waktu selesai
lama_eksekusi = stop - start # lama eksekusi dalam satuan detik
print("Lama eksekusi: ",lama_eksekusi,"detik")

Lama eksekusi:  0.02767849999999683 detik

In [9]:
from  sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

Mean Absolute Error: 0.009119958704386604
Mean Squared Error: 0.00014744371800840526
Root Mean Squared Error: 0.012142640487488924

In [10]:
import timeit
start = timeit.default_timer() # catat waktu mulai

LR = LinearRegression(fit_intercept=False, copy_X=True, n_jobs=None, positive=False)
LR.fit(X_train, y_train.values.ravel())

y_pred = LR.predict(X_train)

stop = timeit.default_timer() # catat waktu selesai
lama_eksekusi = stop - start # lama eksekusi dalam satuan detik
print("Lama eksekusi: ",lama_eksekusi,"detik")

Lama eksekusi:  0.015348899999999333 detik

In [11]:
from  sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

Mean Absolute Error: 0.009119958704386654
Mean Squared Error: 0.00014744371800840529
Root Mean Squared Error: 0.012142640487488926

In [12]:
LR.intercept_

0.0

In [13]:
LR.coef_[6]

0.0012929034971979668

In [14]:
LR.coef_

array([-8.26631705e-04,  1.62663541e-07,  2.95486149e-02,  2.67856871e-05,
        6.65157273e-05, -1.16999655e-01,  1.29290350e-03])

In [15]:
LR.rank_

7

In [16]:
LR.n_features_in_

7

In [17]:
from sklearn.metrics import r2_score
print("R2 Score is :",round(r2_score(y_train,y_pred),3)*100,"%")
r_squared = r2_score(y_train,y_pred)
adjusted_r_squared = 1 - (1-r_squared)*(len(y)-1)/(len(y)-X.shape[1]-1)
print('Adjusted R Squared: %',round(adjusted_r_squared*100,2), 'R Squared: %',round(r_squared*100,2))

R2 Score is : 60.6 %
Adjusted R Squared: % 60.57 R Squared: % 60.58